<div id="apropos-credits">
  <h3>Crédits</h3>
  <p>Directrice de la publication&nbsp;: Hélène&nbsp;Dessales, Maître de conférence en archéologie, ENS-PSL Université</p>
  <p>Suivi des reconstitutions : Frédérique Marchand-Beaulieu (mosaïques et pavements), Florence Monnier (décors peints), Eloïse Letellier-Taillefer (ouvertures)</p>
  <p>Reconstitutions 3D&nbsp;: Alban-Brice Pimpaud, <a href="http://www.archeo3d.net" target="_blank">archeo3d.net</a></p>
  <p>Photogrammétrie&nbsp;: Yves Ubelmann, <a href="http://www.iconem.com" target="_blank">iconem</a></p>
  <h3>Plateforme de publication</h3>
  <p>Ce site est réalisé à partir de la plateforme développée dans le cadre de la publication électronique du catalogue des sculptures de la <em>villa</em> de Chiragan, imprimée et éditée par le <a href="https://saintraymond.toulouse.fr/" target="_blank">musée Saint-Raymond, musée d'archéologie de Toulouse</a>, dont les sources sont rassemblées dans le dépôt <a href="https://gitlab.com/musee-saint-raymond/villa-chiragan" target="_blank">https://gitlab.com/musee-saint-raymond/villa-chiragan</a>.</p>
  <p>Développement du système de publication&nbsp;: <a href="https://www.quaternum.net/">Antoine&nbsp;Fauchié</a></p>
  <p>Conception graphique et interactive, développement web&nbsp;: <a href="http://julie-blanc.fr/">Julie&nbsp;Blanc</a></p>
  <p>Typographies&nbsp;: Orkney par Hanken&nbsp;Design&nbsp;Co., Bellaza par Eduardo&nbsp;Tunni"</p>
  <h3>Logiciels additionnels</h3>
  <p>Lecteur de nuages de points : <a href="http://www.potree.org" target="_blank">Potree</a> et <a href="https://github.com/VizcayaMuseum/Kiosk" target="_blank">Kiosk</a></p>
  <a id="logo-Diomede" href=""><img src="http://villadiomede.huma-num.fr/3dproject/IMG/siteon0.png"></a>
  <h3>Citer cet ouvrage</h3>
  <p><span class="caps">{{ site.author.name_id }}</span>, <em>{{ site.title_complet }}</em>, {{ site.place }}, {{ site.date }}, en ligne <{{ site.url }}>.<br>
  {{ site.isbn_numerique }}</p>
  <h3>Téléchargements</h3>
  <h3>Sources du site internet</h3>
  <p>Les sources du site internet, contenus et système de publication, sont disponibles en ligne&nbsp;: <a href="https://github.com/Albanbrice/expo/">https://github.com/Albanbrice/expo/</a></p>
</div>
