<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta name="description" content="Description expo">
        <meta name="author" content="Alban-Brice Pimpaud">
        <link rel="icon" type="image/x-icon" href="http://villadiomede.huma-num.fr/bdd/admin/style/logo_project.png">

        <!-- Bootstrap -->
        <script type="text/javascript" src="libs/jquery/jquery-3.1.1.min.js"></script>  
        <link rel="stylesheet" href="potree/libs/bootstrap/css/bootstrap.min.css">
        <script src="potree/libs/bootstrap/js/bootstrap.min.js"></script>
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Roboto:400" > 	
        <!-- Custom elements -->
        <link rel="stylesheet" href="css/custom.css">
        <script src="js/main.js" defer></script>
    </head>
    <body>
       {{content}} 
    </body>
</html>