---
layout: default
---
{% include head.html %}
<body id="home">
    <header id="header-catalogue">
        <hgroup>
            <h1>La&nbsp;villa</br>de&nbsp;Diomède</h1>
            <h2>Une exploration virtuelle</h2>
            <h3>La numérisation et la reconstitution d'une villa romaine de Pompéi</h3>
        </hgroup>
            <p class="collection">{{site.producteur_complement}}</p>

        <figure><img src="{{site.baseurl}}/images/accueil_portrait.jpg"></figure>

        <div class="icon-scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div class="icon-arrows">
                <span></span>
            </div>
        </div>
    </header>

    <section id="toc-home">
        <section id="toc-home-partie-1" class="toc-home-partie">
            <a href="/numerisation/">
                <div id="link-part-1" class="link-part">
                    {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}
                        <h1><small>Partie {{ contenus.partie_numero }}</small>{{ contenus.title }}</h1>
                        <h2>{{ contenus.sous_titre }}</h2>
                    {% endif %}{% endfor %}
                </div>
                <figure class="fig-part" id="fig-part1-1">
                    <img src="/images/accueil.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part1-2">
                    <img src="/images/figure08_espace10.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part1-3">
                    <img src="/images/figure09_espace11.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
            </a>
        </section>
        <section id="toc-home-partie-2" class="toc-home-partie">
            <a href="/reconstitution/">
                <div id="link-part-2" class="link-part">
                    {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}
                        <h1><small>Partie {{ contenus.partie_numero }}</small>{{ contenus.title }}</h1>
                        <h2>{{ contenus.sous_titre }}</h2>
                    {% endif %}{% endfor %}
                </div>
                <figure class="fig-part" id="fig-part2-1">
                    <img src="/images/accueil.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part2-2">
                    <img src="/images/figure08_espace10.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part2-3">
                    <img src="/images/figure_espace63_EST.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
            </a>
        </section>
        <section id="toc-home-partie-3" class="toc-home-partie">
            <a href="">
                <div id="link-part-3" class="link-part">
                    {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}
                        <h1><small>Partie {{ contenus.partie_numero }}</small>{{ contenus.title }}</h1>
                        <h2>{{ contenus.sous_titre }}</h2>
                    {% endif %}{% endfor %}
                </div>
                <figure class="fig-part" id="fig-part3-1">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part3-2">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part3-3">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
            </a>
        </section>
        <section id="toc-home-partie-4" class="toc-home-partie">
            <a href="">
                <div id="link-part-4" class="link-part">
                    {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}
                        <h1><small>Partie {{ contenus.partie_numero }}</small>{{ contenus.title }}</h1>
                        <h2>{{ contenus.sous_titre }}</h2>
                    {% endif %}{% endfor %}
                </div>
                <figure class="fig-part" id="fig-part3-1">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part3-2">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
                <figure class="fig-part" id="fig-part3-3">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
            </a>
        </section>
    </section>
</body>