---
layout: default
---
<body id="home">
    <header id="header-catalogue">
        <hgroup>
            <h1>La&nbsp;villa</br>de&nbsp;Diomède</h1>
            <h2>Une exploration virtuelle à Pompéi</h2>
            <h3>{{site.producteur}}</h3>
        </hgroup>
            <p class="collection">{{site.producteur_complement}}</p>
        <figure><img src="{{site.baseurl}}/images/figure01_espace01.jpg"></figure>
        <div class="icon-scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div class="icon-arrows">
                <span></span>
            </div>
        </div>
    </header>

    <section id="toc-home">
        <section id="toc-home-partie-1">
            <a href="">
                <div id="link-part-1 class="link-part">
                    <h1><small>Partie 1</small></h1>
                    <h2>Visite de la villa, état actuel</h2>
                </div>
                <figure class="fig-part" id="fig-part1-1">
                    <img src="/images/figure01_espace01.jpg" sizes="(max-width: 1100px) 400px, (max-width: 1600px) 600px, (min-width: 1800) 1000px" alt="">
                </figure>
            </a>
        </section>
    </section>
</body>