---
layout: microtypo
---
<!DOCTYPE html>
{% include head.html %}
<body class="body-notice">
{% include header.html %}
		<main id="main-notice">
			<header>

					<p class="partie-notice">
						<a href="{{ site.url }}/{% if page.partie == 1 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 2 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 3 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 4 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}">
							<span class="num-partie">Partie {{ page.partie }} </span>
							<span class="title-partie">{% if page.partie == 1 %}Numérisation{% endif %}{% if page.partie == 2 %}Reconstitution{% endif %}{% if page.partie == 3 %}L'art grec revisité{% endif %}{% if page.partie == 4 %}L'antiquité tardive{% endif %}</span>
						</a>
					</p>

				<h1>{{ page.title }} [{{page.id_espace}}]</h1>

			</header>
			<div id="hack-phone"></div>
			<section id="section-images" aria-label="Section contenant les images de la sculpture" data-nbr-img="{{page.vues}}" data-current-img="1">
				<input type="radio" id="radio-360viewer" name="action-notice" value="360viewer" hidden>
				<input type="radio" id="radio-diapo" name="action-notice" value="diapo" hidden>
				<input type="radio" id="radio-zoom" name="action-notice" hidden value="zoom">
				<input type="radio" id="radio-grid" name="action-notice" hidden value="grid" checked>

				<div id="all-buttons">
					<div class="button-group" id="buttons-slider-choice">
						<button id="button-viewer360" aria-label="Vue 360° (cliquer sur l'image et bouger)" onclick="display360('/images/{{ page.id_notice }}-',8)">{% include icons/360-degree.svg %}</button>
						<button id="button-diapo" aria-label="Diaporama" onclick="displayDiapo('/images/{{ page.id_notice }}-',8)">{% include icons/slideshow.svg %}</button>
					</div>

					<div class="button-group" id="buttons-panzoom">
						<button class="zoom-in" aria-label="Zoomer" onclick="toggleZoom()">{% include icons/plus.svg %}</button>
						<button class="zoom-out" aria-label="Dézoomer">{% include icons/moins.svg %}</button>
						<button class="reset" aria-label="Reset Zoom" onclick="resetRadio()">{% include icons/reset.svg %}</button>
					</div>
					<div class="button-group">
						<a id="download-image" data-path="/images/{{ page.id_notice }}" href="/images/{{ page.id_notice }}-1-3000.jpg" download><button id="button-download-all-images" aria-label="Télécharger l'image affichée">{% include icons/download.svg %}</button></a>
					</div>
				</div>

				<div id="threesixty" class="parent images-id">
						<div id="zoom-container" class="panzoom-parent">
							<div id="spinner">
									<span>0%</span>
							</div>
							<div id="all_images" class="panzoom"></div>
						</div>
						<nav id="diaporama_nav">
							<ul></ul>
							<button id="diapo-prev" onclick="diapoButton('prev')"><span>←</span></button>
							<button id="diapo-next" onclick="diapoButton('next')"><span>→</span></button>
						</nav>
				</div>
				<div id="images-grid">
						{% if page.vues == 1 %}<figure id="only-one"><img src="/images/{{ page.id_notice }}.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 2 %}<figure id="figure-1"><img src="/images/{{ page.id_notice }}-1.jpg" alt="{{ page.title }}"></figure>
						<figure id="figure-2"><img src="/images/{{ page.id_notice }}-2.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 3 %}<figure id="figure-3"><img src="/images/{{ page.id_notice }}-3.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 4 %}<figure id="figure-4"><img src="/images/{{ page.id_notice }}-4.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 5 %}<figure id="figure-5"><img src="/images/{{ page.id_notice }}-5.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 6 %}<figure id="figure-6"><img src="/images/{{ page.id_notice }}-6.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 7 %}<figure id="figure-7"><img src="/images/{{ page.id_notice }}-7.jpg" alt="{{ page.title }}"></figure>{% endif %}
						{% if page.vues >= 8 %}<figure id="figure-8"><img src="/images/{{ page.id_notice }}-8.jpg" alt="{{ page.title }}"></figure>{% endif %}
				</div>
			</section>
			<section id="content-notice">{{ content }}</section>
		</main>
{% include footer.html %}

<script src="/assets/js/notices.js"></script>
<script>
	window.onload = function(){
		commmon();
		imageComparaison();
		citation();
		panzoomLoad(5);
		noticesImages("/images/{{ page.id_notice }}-");
	}
</script>
